<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                    {{title}} <a href="/notes/edit/{{ _id }}"><i class="fas fa-edit"></i></a>
                </h5>
                <p class="card-text">{{description}}</p>
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">

                <button class="btn btn-danger btn-block btn-sm" type="submit">
                    Delete
                </button>
            </form>
            </div>
            {{!-- TODO: Agregar ultimo tiempo de modificación --}}
            {{!-- <div class="card-footer">
                <small class="text-muted">{{updatedAt}}</small>
            </div> --}}
        </div>
    </div>

    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hello {{user.name}}</h1>
            <p class="lead">There are not notes yet.</p>
            <a href="/notes/add" class="btn btn-success btn-block">Create One!</a>
        </div>
    </div>
    {{/each}}
</div>

<div id="more">
    <a href="/notes/add">
        <img src="/img/mas.png" alt="Add Note">
    </a>

</div>